<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Light</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="body">
    <div class="container">
        <div class="wrapper app-head">
            <div class="title">
                <h3>Todo Light</h3>
                <a href="https://github.com/shdwraze">github/shdwraze</a>
                <hr>
            </div>

            <div class="create-todo">
                <form name="todo" th:action="@{/}" th:object="${todo}" method="post">
                    <div class="first-place">
                        <input type="text" class="field" th:field="*{content}" required>
                        <input type="submit" value="Submit" class="btn">
                    </div>
                    <div class="second-place">
                        <input type="checkbox" id="check" class="check" th:field="*{priority}">
                        <label for="check" class="check-label">Mark as important</label>
                    </div>
                </form>
            </div>
        </div>

        <div th:if="${not #lists.isEmpty(todos)}" class="todo-list scroll">
            <div class="todo" th:each="todo : ${todos}">
                <div class="content-wrapper">
                    <div class="content">
                        <div class="task" th:classappend="${todo.isComplete ? 'complete' : ''}"
                             th:text="${todo.content}">text todo</div><span th:text="${todo.priority ? '*' : ''}">priority</span>
                    </div>
                    <div class="control-elements">
                        <input type="checkbox" name="complete" th:id="${todo.id}" th:checked="${todo.isComplete}"
                               class="check-complete" onchange="changeTodoState(this)">
                        <input type="submit" value="x" class="test-btn" onclick="deleteTodo(this);">
                    </div>
                </div>
            </div>
        </div>

        <div class="quote wrapper">
            <p th:text="'“' + ${quote[0]} + '” - ' + ${quote[1]}">quote</p>
        </div>
    </div>

    <script src="/js/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>

</html>